<div class="speakerAnnouncement">
    <div class="row1">
        <div class="leftSide">
            <div class="bioPicContainer">
                <img src="{{photo}}" alt="{{photoAlt}}" class="bioPic"/>
                <img src="http://jslou.org/wp-content/uploads/2015/10/brackets.png" class="brackets"/>
            </div>
        </div>
        <div class="rightSide">
					{{#if firstName}}
            <h2>{{firstName}}</br>{{lastName}}</h2>
					{{else}}
						<h2>{{title}}</h2>
					{{/if}}
            <p>{{day}} {{date}}</br>
            {{time}} at <a class="redLink" href="{{directions}}"="_blank"><i class="fa fa-map-marker"></i> {{location}}</a> </p>
            <a href="http://www.meetup.com/JSLouKY/" class="btn" target="_blank">RSVP on Meetup.com</a>
        </div>
    </div>
    <div class="row2">
        <div class="links">
						{{#if links}}
              {{#each links}}
                <div>
                  <a href="{{url}}" target="_blank">{{type}}</a>
                </div>
              {{/each}}
						{{/if}}
        </div>
				{{#if firstName}}
					<h2>{{title}}</h2>
				{{/if}}
        <p> {{description}} </p>
    </div>
</div>
