<div class="speakerAnnouncement col1-2">

	<div class="module">
		{{#if attendance}}
		<div class="attendance" title="Attendance for {{date}}"><i class="fa fa-group"></i><span class="rsvps">{{attendance}}</a></div>
			{{/if}}
			<div class="row0">Next Meeting</div>
			<div class="row1">
				<div class="leftSide">
					<div class="bioPicContainer">
						<img src="{{photo}}" alt="{{title}}" class="bioPic"/>
						<img src="img/brackets.png" class="brackets"/>
					</div>

				</div>
				<div class="rightSide">
					{{#if firstName}}
					<h2>{{firstName}}<span class="lastName">{{lastName}}</span></h2>
					{{else}}
					<h2>{{title}}</h2>
					{{/if}}
					<p>{{day}} {{date}}</br>
						{{time}} at <a class="redLink" href="{{directions}}"="_blank">{{location}}</a> </p>
						{{#if meetup}}
						{{#ifFuture date}}
						<a href="{{meetup}}" class="btn" target="_blank">RSVP on Meetup.com</a>
						{{else}}
						{{#if presentation}}
						<a href="{{presentation}}" class="btn" target="_blank">Presentation</a>
						{{/if}}
						<a href="{{meetup}}" class="btn" target="_blank">View event on Meetup.com</a>
						{{/ifFuture}}

						{{/if}}
					</div>
				</div>
				<div class="row2">
					<div class="speakerlink row">
						{{#each links}}
							<a class="col1-5" href="{{url}}" target="_blank">{{type}}</a>
						{{/each}}
					</div>
					{{#if firstName}}
					<h2>{{title}}</h2>
					{{/if}}
					<p> {{description}} </p>
				</div>
			</div>
		</div>
