{{#unless future}}
<div class="speakerAnnouncement col1-2">
	<div class="module">
		<div class="row1">
			<div class="leftSide">
				<div class="bioPicContainer">
					<img src="{{photo}}" alt="{{photoAlt}}" class="bioPic"/>
					<img src="http://jslou.org/wp-content/uploads/2015/10/brackets.png" class="brackets"/>
				</div>

			</div>
			<div class="rightSide">
				{{#if firstName}}
				<h2>{{firstName}}<span class="lastName">{{lastName}}</span></h2>
				{{else}}
				<h2>{{title}}</h2>
				{{/if}}
				<p>{{day}} {{date}}</br>
					{{time}} at <a class="redLink" href="{{directions}}"="_blank">{{location}}</a> </p>

					<a href="http://www.meetup.com/JSLouKY/" class="rsvpButton" target="_blank">RSVP on Meetup.com</a>
				</div>
			</div>
			<div class="row2">
				<ul>
					{{#if youtubeName}}
					<li>
						<strong>YouTube:</strong>
						<a href="{{youtubeUrl}}" target="_blank">{{youtubeName}}</a>
					</li>
					{{/if}}
					{{#if twitter}}
					<li>
						<strong>Twitter:</strong>
						<a href="https://twitter.com/{{twitter}}" target="_blank">@{{twitter}}</a>
					</li>
					{{/if}}
					{{#if websiteName}}
					<li>
						<strong>Website:</strong>
						<a href="{{websiteurl}}" target="_blank">{{websiteName}}</a>
					</li>
					{{/if}}
					{{#if linkedinName}}
					<li>
						<strong>LinkedIn:</strong>
						<a href="{{linkedinUrl}}" target="_blank">{{linkedinName}}</a>
					</li>
					{{/if}}
					{{#if githubName}}
					<li>
						<strong>GitHub:</strong>
						<a href="{{githubUrl}}" target="_blank">{{githubName}}</a>
					</li>
					{{/if}}
				</ul>
				{{#if firstName}}
				<h2>{{title}}</h2>
				{{/if}}
				<p> {{description}} </p>
			</div>
		</div>
	</div>
	{{/unless}}
